* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.app_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.app_container h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    color: #4a148c;
}

.QrImage {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #4a148c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.labal_input {
    display: block;
    margin-bottom: 10px;
    color: #4a148c;
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #4a148c;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #6a1b9a;
}

button {
    padding: 12px 20px;
    font-size: 20px;
    color: #444242;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
    /* Add margin to separate buttons */
}

button:hover {
    transform: scale(1.00);
}

.download_btn {
    background-color: #54de5b;
    /* Same green color for both buttons */
}

.generate_btn {
    background-color: rgb(240, 71, 71);
}

.generate_btn:hover,
.download_btn:hover {
    background-color: #2e7d32;
    /* Darker green on hover for both */
}


/* Responsive Design */
@media (max-width: 768px) {
    .app_container {
        padding: 15px;
    }

    .app_container h1 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 8px;
    }

    button {
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .app_container h1 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    input[type="text"],
    input[type="number"] {
        font-size: 14px;
        padding: 6px;
    }

    button {
        padding: 8px 12px;
        font-size: 12px;
    }

    .QrImage {
        margin: 15px 0;
        padding: 10px;
    }
}